# Class Content
.DS_Store
LessonPlan.md
TimeTracker.xlsx

# Activities/
# Solved/
#!01-*/**/Activities/??-Ins*/
# !01-*/**/*-Ins*



# !01-*/[1-2]/Activities/# !*Ins*/Solved
# **/logs/debug.log
# !*/*Ins*/Solved/

# /Users/johntaylor/2021_2022_CWRU_BootCamp/cwru-cle-virt-data-pt-07-2021-u-c/01-Excel/1/Activities/02-Stu_Predict_Gentrification
# 11-*/
# 12-*/
# 13-*/
# 14-*/
# 15-*/
# 16-*/
# 17-*/
# 18-*/
# 19-*/
# 20-*/
# 21-*/
# 22-*/
# 23-*/
# 24-*/


# Here's a little snippet from my current class where you can see the top portion protects future content from being released too early, the middle portion reveals the solutions as we finish each unit. In this example, my class has finished units 1-6, and unit 1 and 2 have received their grades for their homework, but unit 6 homework is still ungraded. The last portion is a comment example for how I would release activities to solutions a little bit at a time:
# ```md
    # # Class Content
    # Main/ 
    # Solved/
    # 07-*/
    # 08-*/
    # # ... // and so on...
    # 24-*/

    # !01-*/**/Main
    # !01-*/01-Activities/**/Solved
    # !02-*/**/Main
    # !02-*/01-Activities/**/Solved
    # # ... // and so on...
    # !06-*/01-Activities/**/Solved
    # !06-*/01-Activities/**/Main

    # # !01-*/01-Activities/**/0[0-9]*/Main